Wpf_TimeCraft_Calendar_IlayBiton/Connected Services/CalendarServiceReference/CalendarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CalendarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/CalendarService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/CalendarService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/CalendarService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/CalendarService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_IsUsenameTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUsenameTaken" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_IsUsenameTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUsenameTakenResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_IsEmailTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailTaken" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_IsEmailTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailTakenResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarUsers" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetEventUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventUsers" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetEventUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllEventTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventTypes" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllEventTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventType" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventType" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventType" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEvent" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetUserEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserEvents" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetUserEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarEvents" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendarEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllCalendars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCalendars" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetAllCalendars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCalendarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_InsertCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_UpdateCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetUserCalendars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCalendars" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetUserCalendars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCalendarsResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_IsCalendarNameTaken_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCalendarNameTaken" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_IsCalendarNameTaken_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCalendarNameTakenResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetAllUsers" message="tns:ICalendarService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetAllUsersResponse" message="tns:ICalendarService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/Login" message="tns:ICalendarService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/LoginResponse" message="tns:ICalendarService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/InsertUser" message="tns:ICalendarService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/InsertUserResponse" message="tns:ICalendarService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/UpdateUser" message="tns:ICalendarService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/UpdateUserResponse" message="tns:ICalendarService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/DeleteUser" message="tns:ICalendarService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/DeleteUserResponse" message="tns:ICalendarService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUsenameTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/IsUsenameTaken" message="tns:ICalendarService_IsUsenameTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/IsUsenameTakenResponse" message="tns:ICalendarService_IsUsenameTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/IsEmailTaken" message="tns:ICalendarService_IsEmailTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/IsEmailTakenResponse" message="tns:ICalendarService_IsEmailTaken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetUser" message="tns:ICalendarService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetUserResponse" message="tns:ICalendarService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarUsers" message="tns:ICalendarService_GetCalendarUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarUsersResponse" message="tns:ICalendarService_GetCalendarUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetEventUsers" message="tns:ICalendarService_GetEventUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetEventUsersResponse" message="tns:ICalendarService_GetEventUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEventTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetAllEventTypes" message="tns:ICalendarService_GetAllEventTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetAllEventTypesResponse" message="tns:ICalendarService_GetAllEventTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/InsertEventType" message="tns:ICalendarService_InsertEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/InsertEventTypeResponse" message="tns:ICalendarService_InsertEventType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/UpdateEventType" message="tns:ICalendarService_UpdateEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/UpdateEventTypeResponse" message="tns:ICalendarService_UpdateEventType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/DeleteEventType" message="tns:ICalendarService_DeleteEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/DeleteEventTypeResponse" message="tns:ICalendarService_DeleteEventType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetAllEvents" message="tns:ICalendarService_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetAllEventsResponse" message="tns:ICalendarService_GetAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/InsertEvent" message="tns:ICalendarService_InsertEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/InsertEventResponse" message="tns:ICalendarService_InsertEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/UpdateEvent" message="tns:ICalendarService_UpdateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/UpdateEventResponse" message="tns:ICalendarService_UpdateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/DeleteEvent" message="tns:ICalendarService_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/DeleteEventResponse" message="tns:ICalendarService_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetUserEvents" message="tns:ICalendarService_GetUserEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetUserEventsResponse" message="tns:ICalendarService_GetUserEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarEvents" message="tns:ICalendarService_GetCalendarEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarEventsResponse" message="tns:ICalendarService_GetCalendarEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCalendars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetAllCalendars" message="tns:ICalendarService_GetAllCalendars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetAllCalendarsResponse" message="tns:ICalendarService_GetAllCalendars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/InsertCalendar" message="tns:ICalendarService_InsertCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/InsertCalendarResponse" message="tns:ICalendarService_InsertCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/UpdateCalendar" message="tns:ICalendarService_UpdateCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/UpdateCalendarResponse" message="tns:ICalendarService_UpdateCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/DeleteCalendar" message="tns:ICalendarService_DeleteCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/DeleteCalendarResponse" message="tns:ICalendarService_DeleteCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCalendars">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetUserCalendars" message="tns:ICalendarService_GetUserCalendars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetUserCalendarsResponse" message="tns:ICalendarService_GetUserCalendars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCalendarNameTaken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/IsCalendarNameTaken" message="tns:ICalendarService_IsCalendarNameTaken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/IsCalendarNameTakenResponse" message="tns:ICalendarService_IsCalendarNameTaken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalendarService" type="tns:ICalendarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUsenameTaken">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/IsUsenameTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailTaken">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/IsEmailTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarUsers">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetCalendarUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventUsers">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetEventUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEventTypes">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetAllEventTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEventType">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/InsertEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventType">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/UpdateEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEventType">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/DeleteEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/InsertEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/UpdateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEvents">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetUserEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarEvents">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetCalendarEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCalendars">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetAllCalendars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCalendar">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/InsertCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCalendar">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/UpdateCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCalendar">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/DeleteCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCalendars">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetUserCalendars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCalendarNameTaken">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/IsCalendarNameTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarService">
    <wsdl:port name="BasicHttpBinding_ICalendarService" binding="tns:BasicHttpBinding_ICalendarService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceModel/CalendarService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>